<h1><%= "#{@find_contacts.name}" %></h1>

<ul>

  <li><%= "First Name: #{@find_contacts.first_name}" %></li>

  <li><%= "Last Name: #{@find_contacts.last_name}" %></li>
  <li><%= "Phone Number: #{@find_contacts.phone_number}" %></li>
</ul>
